body{
  background-color: #E5E5E5;
}
.fundo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.titulo{
    width: 540px;
    height: 63px;
    margin-top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: -0.004em;
    color: #75B79E;
}
.jogo{
    padding-right: 250px;
    padding-left: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.cartas{
    width: 117px;
    height: 146px;
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 16px;
    position: relative;
}
.back-face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: all .2s;
    transform-style: preserve-3d;
    position: absolute;
}

.front-face{
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: all .2s;
    transform-style: preserve-3d;
    position: absolute;
}
.back-face img {
    width: 100px;
    height: 100px;
}
.front-face img {
    width: 50px;
    height: 50px;
}
.transf{
    transform: rotateY(180deg);
}
button, cartas:hover{
    cursor: pointer;
}
@media (max-width: 614px) {
    .jogo {
      max-width: 400px;
      height: fit-content;
    }
    .cartas {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  @media (max-width: 935px) {
    .titulo {
      width: 400px;
      height: fit-content;
      font-size: 40px;
      margin-top: 20px;
    }
    .jogo {
      max-width: 800px;
      height: fit-content;
    }
  }
  @media (max-width: 380px) {
    .titulo {
      width: 280px;
      font-size: 30px;
      margin-top: 10px;
    }
  }