body{
    background-color: #E5E5E5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.titulo{
    width: 540px;
    height: 63px;
    margin-top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: -0.004em;
    color: #75B79E;
}